* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background : #3D434B;
  --title : #ff7360;
  --text : #9A9FA7;
  --darkBackground : #262c30;
  --edit : #b1d199;
  --delete : #c50700;
}

.App {
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
  text-align: center;
  background-color: var(--background);
  max-height: 96vh;
  border-radius: 0.5rem;
  overflow-y: scroll;
}

h1 {
  margin: 0.8rem;
  color: var(--title);
}

.StatusBtn .stateButton{
  background: none;
  padding: 1rem;
  color: var(--text);
  font-size: 1rem;
}

.StatusBtn .stateButton:hover{
  cursor: pointer;
}

.navBar{
  display: flex;
  flex-direction: row;
  padding: 0.9rem;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  border-bottom: 1.5px solid black;

}

.action{
  height: 1.5rem;
  color: var(--darkBackground);
  background-color: var(--text);
  border: none;
  border-radius: 0.3rem;
}

.sort{
  height: 1.5rem;
  color: var(--darkBackground);
  background-color: var(--text);
  border: none;
  border-radius: 0.3rem;
}

.inputElement {
  width: 90%;
  margin: 2rem auto 0.5rem auto;
  padding: 0.5rem;
  background-color: var(--darkBackground);
  border-radius: 0.5rem;
  border: none;
  color: var(--text);
}

.inputElement:focus {
  box-shadow: 5px 3px 5px grey;
  outline: none;
  border: 2px solid grey;
}

.control {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.addbtn {
  border: none;
  border-radius: 0.5rem;
  background: none;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--text);
}

.addbtn:hover{
  cursor: pointer;
}

.searchbtn {
  border: none;
  border-radius: 0.5rem;
  background: none;
  font-size: 1rem;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--text);
}

.searchbtn:hover{
  cursor: pointer;
}

.editbtn {
  background-color: var(--edit);
  border: none;
  color: black;
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin-right: 0.8rem;
}
.editbtn:hover{
  cursor: pointer;
}

.savebtn {
  background-color: black;
  border: none;
  color: var(--text);
  padding: 0.3rem;
  border-radius: 0.3rem;
  margin-right: 0.5rem;
}
.savebtn:hover{
  cursor: pointer;
}

.deletebtn {
  background-color: var(--delete);
  border: none;
  color: var(--text);
  padding: 0.3rem;
  border-radius: 0.3rem;
}
.deletebtn:hover{
  cursor: pointer;
}

.singleItem{
  width: 90%;
  margin: 0.4rem auto;
  padding: 0.5rem 1.1rem;
  background-color: var(--darkBackground);
  border-radius: 0.5rem;
  border: none;
  color: var(--text);
  font-size: 1.2rem;
}

.singleItem:hover{
  transform: scale(1.01);
}

.numberOfItems{
  font-size: 1rem;
  font-weight: bold;
  color: var(--text);
}

.default{
  border: none;
}

.active{
  border-bottom: 2px solid var(--title);
  border-top: none;
  border-left: none;
  border-right: none;
}

.strike {
  text-decoration: line-through;
}

.hidden {
  display: none;
}